# Entorno
PORT=5000
NODE_ENV=development

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/sistema_documental?retryWrites=true&w=majority

# JWT
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_seguro
JWT_EXPIRES_IN=7d

# OpenAI
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# Límites
MAX_FILE_SIZE_MB=10
